@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --softRed: hsl(14, 88%, 65%);
  --veryDarkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  /* background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)); */
  background: linear-gradient(#ff8080, #2e1d19);
  /* display: grid;
  justify-content: center;
  align-content: center; */
}

.topbar{
  height: 50px;
  font-family: Neucha, sans-serif;
  background-color: rgba(0, 0, 0, 0.109);
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
  position: sticky;
  top: 0;
  z-index: 999;
}
.topbarwrapper{
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}

.topright{
  display: flex;
  align-items: center;
  padding: 0 ;
  margin-right: 2rem;

}

.nav_link{
  transition: 0.7s all;
  padding:0 2em;
  color: #ffffff;
  text-decoration: none;
  font-size: large;
}

.nav_link:hover {
  color: #fba;
}

.topavatar{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  margin-right:2 rem;
}
.dropdown {
  /* position: relative;
  display: inline-block; */
  margin: 0 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: #fba;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  color: white;
  /* margin-top: 5px; */
  /* margin-right: 60px; */
}

.dropdown-content hr{
  background-color: gray;
  min-width: 40px;
}
.dropdown-content a{
 text-decoration: none;
 color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.topright img:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.faq_sec{
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.wrapper {
  background: white;
  border-radius: 30px;
  height: 509px;
  width: 920px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 1260% 65%;
}

.question-answer__accordion > .answer {
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--darkGrayBlue);
}

.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.accordion__wrapper {
  margin-top: 65px;

  display: flex;
  flex-direction: column;
}

.questions__accordions p{
    font-size: 16px;
    margin-top: 5px;
}
.questions__accordions a{
    color: teal;
}
.image__wrapper img{
    max-height: 350px;
    margin-top: 25vh;
}